li {
    font-family: "Inter", sans-serif;
}

h2 {
    font-family: "Livvic", sans-serif;
}

.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-element.show {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    div.cta-container {
        display: flex;
        flex-direction: column-reverse;
    }

    div.cta-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.cta-image img {
        width: 250px;
    }
}
