.price-button span, h2 {
    font-family: "Inter", sans-serif;
}

.price-button {
    border: 1px solid #15803D;
    border-radius: 24px;
    padding: 10px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    width: 328px;
    height: 38px;
}

.price-button span {
    display: flex;
}

.positive {
    color: #4ADE80;
}

.negative {
    color: #F87171;
}

@media screen and (max-width: 320px) {
    .price-button {
        width: 280px;
    }
}