@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

p, li {
    font-family: "Inter", sans-serif;
}

h2 {
    font-family: "Livvic", sans-serif;
}

.country-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.country-lists div {
    flex: 1 1 200px;
    max-width: 300px;
    min-width: 150px;
}

ul {
    padding: 0;
}

li {
    display: flex;
    align-items: center;
}

/* Fade-in transition */
.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-element.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    div.country-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       padding-left: 10px;
        justify-content: flex-start;
    }

    .country-lists div {
        min-width: 100%;
    }
}